
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.landing-page-design-c5M {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-ce23-EMd {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 14rem 12rem 14rem;
    width: 100%;

    .auto-group-bhsm-oSf {
      background-position: 0 -15.0131rem;
      background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin-bottom: 9.3rem;
      width: 100%;
      height: 60rem;
      background-size: 100% 164.194%;

      .group-68-uVh {
        height: 100%;
        background: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%);
        border-radius: 1.6rem;
        box-sizing: border-box;
        padding: 17.7rem 37.7rem 17.7rem 39.3rem;
        width: 100%;

        .group-99-pMm {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;

          .happy-new-year-41D {
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 0rem 0.1rem 1.5rem 0rem;
            flex-shrink: 0;
          }
          .new-year-party-celebration-jQB {
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 55rem;
            text-align: center;
            font-size: 7.2rem;
            font-weight: 900;
            line-height: 1.3194444444;
          }
        }
      }
      .auto-group-bhsm-oSf-bg {
        width: 132rem;
        height: 60rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
      }
    }
    .group-50-F19 {
      width: calc(100% - 51.71rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 27.51rem 14.7rem 24.2rem;

      .off-9sD {
        text-align: center;
        font-size: 8.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.19rem 4.8rem 0rem;
        line-height: 1.2125;
        color: #ff0000;
        white-space: nowrap;
      }
      .group-45-Tsu {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-10-Ds5 {
          width: calc(100% - 39.29rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 19.69rem 4.7rem 19.6rem;

          .our-holiday-deals-are-better-AGX {
            margin: 0rem 0rem 1.5rem 0.1rem;
            text-align: center;
            font-size: 2.4rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1.2125;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
          }
          .all-categories-U2K {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .vector-ZJf {
          height: 50rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 80.29rem;
        }
      }
    }
    .group-98-h9y {
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:114:6289');
      padding: 6.811rem 13.8rem 6.723rem 12.6rem;
      height: 60rem;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 12rem;
      box-sizing: border-box;
      width: 100%;

      .auto-group-yh2f-oD1 {
        margin: 5.789rem 4.817rem 7.377rem 0rem;
        width: 68.8rem;
        height: calc(100% - 13.1662rem);
        flex-shrink: 0;

        .welcome-to-midnight-party-HP5 {
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          max-width: 59.1rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.375;
          letter-spacing: 0.704rem;
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-M83 {
          color: rgba(255, 255, 255, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 68.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
        }
        .join-now-Qc7 {
          color: #ffffff;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .group-70-82K {
        flex-shrink: 0;
        width: 31.983rem;
        height: 46.4662rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-93-dUs {
      padding: 10rem 38.6rem 11rem 38.5rem;
      width: 100%;
      background-image: url('REPLACE_IMAGE:114:9913');
      flex-shrink: 0;
      margin-bottom: 12rem;
      box-sizing: border-box;
      height: 48.2rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .group-92-jXu {
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 0 0.15rem;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu {
          font-weight: 600;
          color: #070211;
          text-align: center;
          max-width: 54.6rem;
          font-size: 3.2rem;
          line-height: 1.75;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.8rem;

          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-0 {
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-1 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-2 {
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-3 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-4 {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-TTu-sub-5 {
          }
        }
        .frame-1-91H {
          height: 5.6rem;
          text-align: center;
          display: flex;
          white-space: nowrap;
          background-color: #ff0000;
          margin: 0 18.95rem;
          font-size: 2rem;
          line-height: 1.2125;
          text-transform: uppercase;
          align-items: center;
          width: calc(100% - 37.9rem);
          font-weight: 700;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-pd8j-N8w {
      height: 46.5rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 11.8rem;
      width: 100%;

      .group-48-uPm {
        width: 132rem;
        height: 46.3rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;

        .group-46-D9Z {
          margin: 10.4rem 7.3rem 10.4rem 0rem;
          height: calc(100% - 20.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-17-KCb {
            margin-bottom: 2.1rem;
            width: 32.8rem;
            flex-shrink: 0;

            .new-best-offer-F6F {
              width: 100%;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
              margin-bottom: 1.5rem;
              text-align: center;
              font-size: 2.4rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .coming-soon-ugb {
              color: #070211;
              font-family: Merriweather, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 4.8rem;
              font-weight: 900;
              line-height: 1.2575;
              text-transform: capitalize;
            }
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-Ruq {
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 39rem;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .group-20-4T1 {
          position: relative;
          flex-shrink: 0;
          margin-right: 11.8rem;
          width: 46.3rem;
          height: 100%;

          .ellipse-1-cUX {
            height: 36.4844rem;
            top: 4.9078rem;
            border-radius: 18.2422rem;
            background-size: 150.038% 100%;
            background-position: -9.1279rem 0;
            background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
            width: 36.4844rem;
            position: absolute;
            left: 4.9078rem;

            .ellipse-1-cUX-bg {
              width: 36.4844rem;
              height: 36.4844rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
            }
          }
          .ellipse-2-2YF {
            left: 0;
            top: 0;
            border: solid 1.5rem #ff0000;
            box-sizing: border-box;
            border-radius: 23.15rem;
            width: 46.3rem;
            height: 46.3rem;
            position: absolute;
          }
        }
        .group-18-MaX {
          margin: 11.2rem 0rem 18.1rem 0rem;
          height: calc(100% - 29.3rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-2024-Vgj {
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 0.033rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-DMq {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 27.6rem;
          }
        }
      }
      .group-96-vX9 {
        height: 14rem;
        position: absolute;
        left: 104.4rem;
        top: 32.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 14rem;
      }
    }
    .group-82-EXq {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;

      .group-78-b7V {
        margin: 0rem 16.75rem 6.4rem 16.75rem;
        width: calc(100% - 33.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-77-L55 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 15.45rem 2.8rem 15.35rem;
          width: calc(100% - 30.8rem);
          align-items: center;

          .what-is-functional-qnX {
            font-weight: 500;
            line-height: 1.2125;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.4rem;
          }
          .holidays-sale-50-P3M {
            text-align: center;
            line-height: 1.2102272246;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 7.2rem;
            font-weight: 700;
            display: flex;
            align-items: baseline;

            .holidays-sale-50-P3M-sub-0 {
              font-size: 7.2rem;
              font-weight: 900;
              line-height: 1.2575;
              color: #ff0000;
              font-family: Merriweather, 'Source Sans Pro';
            }
            .holidays-sale-50-P3M-sub-1 {
              line-height: 1.2575;
              color: #070211;
              font-family: Merriweather, 'Source Sans Pro';
              font-size: 7.2rem;
              font-weight: 900;
            }
          }
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-eleifend-nunc-purus-quam-id-fermentum-amet-amet-sit-consectetur-Cf1 {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 98.5rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.6;
          color: rgba(7, 2, 17, 0.6000000238);
        }
      }
      .auto-group-d9pd-cTq {
        width: 100%;
        height: 66.207rem;
        position: relative;
        flex-shrink: 0;

        .group-79-NC7 {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 132rem;
          height: 66.207rem;
          position: absolute;
        }
        .group-83-iWs {
          top: 0;
          width: 58.2438rem;
          height: 43.3rem;
          position: absolute;
          left: 73.7562rem;

          .rectangle-1-2XZ {
            width: 42.9rem;
            position: relative;
            background-position: -5.998rem 0;
            background-image: url('REPLACE_IMAGE:a92c606c3423b2e65635b13cdcddc7b4787f5a0d');
            height: 43.3rem;
            left: 15.3438rem;
            top: 0;
            background-size: 151.553% 100%;
            border-radius: 1.6rem 1.6rem 0 0;
          }
          .objects-Jzs {
            width: 30.5735rem;
            height: 30.5754rem;
            overflow: hidden;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:114:9903');
            position: absolute;
            left: -0.003rem;
            top: 7.6956rem;
            background-repeat: no-repeat;
            background-position: center;

            .vector-QHD {
              left: 0.9204rem;
              top: 0.9218rem;
              object-fit: contain;
              vertical-align: top;
              width: 28.7347rem;
              height: 28.7347rem;
              position: absolute;
            }
            .group-97-LwZ {
              width: 15.4499rem;
              height: 15.246rem;
              position: absolute;
              left: 6.3468rem;
              top: 5.8711rem;

              .item-5-swV {
                position: absolute;
                font-size: 7.3015rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 4.8rem;
                height: 8.9rem;
                left: 0;
                top: 6.3334rem;
                font-weight: 700;
              }
              .item-0-Mrf {
                font-weight: 700;
                white-space: nowrap;
                height: 8.9rem;
                left: 3.8074rem;
                top: 0;
                font-size: 7.3015rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                width: 11.3rem;
                position: absolute;
              }
              .dis-FBM {
                font-weight: 900;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2.4338rem;
                height: 3rem;
                position: absolute;
                left: 4.8063rem;
                top: 12.246rem;
                line-height: 1.2125;
                color: #ffffff;
                width: 4.2rem;
              }
              .c-N15 {
                top: 11.2813rem;
                font-size: 2.4338rem;
                color: #ffffff;
                white-space: nowrap;
                width: 1.9rem;
                height: 3rem;
                font-weight: 900;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                position: absolute;
                left: 8.1273rem;
              }
              .oun-eUP {
                white-space: nowrap;
                width: 5.5rem;
                position: absolute;
                top: 8.3264rem;
                font-size: 2.4338rem;
                color: #ffffff;
                height: 3rem;
                left: 9.4962rem;
                font-weight: 900;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
              }
              .t-NQP {
                white-space: nowrap;
                width: 1.4rem;
                height: 3.1rem;
                position: absolute;
                left: 14.0499rem;
                top: 7.4231rem;
                font-size: 2.4338rem;
                font-weight: 900;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Raleway Black, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .group-81-53u {
      flex-shrink: 0;
      margin-bottom: 12rem;
      width: 100%;
      height: 116.3rem;
      border-radius: 1.6rem;

      .group-80-pnB {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 1.6rem;
        width: 100%;

        .auto-group-hgoh-PKV {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 4.8rem;
          width: 100%;
          display: flex;

          .the-best-gifts-LEj {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
          }
          .our-awesome-portfolio-sVZ {
            margin-bottom: 2.1rem;
            font-size: 4.8rem;
            font-weight: 900;
            line-height: 1.2575;
            font-family: Merriweather, 'Source Sans Pro';
            white-space: nowrap;
            text-transform: capitalize;
            color: #070211;
            flex-shrink: 0;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-Bm9 {
            flex-shrink: 0;
            max-width: 87.2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-o39q-SBH {
          margin-bottom: 2.4rem;
          width: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .rectangle-3-xfR {
            background-image: url('REPLACE_IMAGE:edebdb2c7a9c4850842fb04fa334eb4adf728b81');
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            position: relative;
            background-size: 100% 142.115%;
            background-position: 0 -3.5755rem;
          }
          .rectangle-4-U7y {
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
          }
          .rectangle-5-neT {
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
        }
        .auto-group-izdy-jZh {
          width: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .rectangle-6-EWT {
            background-size: 156.077% 100%;
            background-position: -19.5366rem 0;
            background-image: url('REPLACE_IMAGE:ad148d01aac299b2eb334e0e257d4c1ca1373e78');
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
            height: 45rem;
            position: relative;
          }
          .rectangle-7-Kno {
            width: 42.4rem;
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
          .rectangle-8-dYb {
            height: 45rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 42.4rem;
          }
        }
      }
    }
    .group-65-ZSF {
      padding: 8rem 22.4rem;
      border-radius: 1.6rem;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 0, 0, 0.0500000007);
      width: 100%;

      .group-62-hoM {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4.8rem;
        width: 100%;

        .group-61-fVH {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 15rem;
          height: 15rem;
        }
        .group-60-acF {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .subscribe-newsletter-9QT {
            line-height: 1.2575;
            text-transform: capitalize;
            color: #070211;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 4.8rem;
            font-weight: 900;
            margin-bottom: 2.1rem;
            white-space: nowrap;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-Dv7 {
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 87.2rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
          }
        }
      }
      .group-64-U5M {
        box-sizing: border-box;
        padding-left: 3rem;
        width: calc(100% - 22.4rem);
        display: flex;
        align-items: center;
        border-radius: 5rem;
        flex-shrink: 0;
        margin: 0 11.2rem;
        height: 7.2rem;
        background-color: #ffffff;

        .usergmailcom-o7d {
          color: rgba(7, 2, 17, 0.3000000119);
          flex-shrink: 0;
          margin-right: 26.7rem;
          font-size: 1.8rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
        }
        .group-63-j1H {
          font-family: Inter, 'Source Sans Pro';
          font-weight: 600;
          line-height: 1.2125;
          border-radius: 0 5rem 5rem 0;
          color: #ffffff;
          align-items: center;
          text-transform: capitalize;
          white-space: nowrap;
          display: flex;
          height: 100%;
          font-size: 2rem;
          justify-content: center;
          background-color: #ff0000;
          flex-shrink: 0;
          width: 21rem;
          text-align: center;
        }
      }
    }
  }
  .group-59-2uV {
    flex-direction: column;
    background-color: #070211;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem 14rem 11.9rem 14rem;
    width: 100%;
    align-items: center;
    display: flex;

    .group-43-wWf {
      flex-shrink: 0;
      margin: 0rem 13.5rem 5rem 0rem;
      width: calc(100% - 13.5rem);
      height: 8rem;
      display: flex;
      align-items: center;

      .big-building-roosevelt-street-beach-gardens-florida-33410-UWb {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 55.9rem;
        max-width: 37.5rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.6666666667;
        color: #ffffff;
      }
      .group-42-A8X {
        flex-shrink: 0;
        width: 25.1rem;
        height: 100%;

        .group-40-7pT {
          margin-right: 1.6rem;
          width: calc(100% - 1.6rem);
          display: flex;
          align-items: center;

          .frame-UQ7 {
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .item-00-123-584-124-P1H {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-41-udq {
          width: 100%;
          display: flex;
          align-items: center;

          .frame-saf {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
          }
          .wwwwebsitecom-pko {
            font-weight: 500;
            line-height: 1.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
      }
    }
    .line-1-u1Z {
      margin-bottom: 4.7rem;
      width: 100%;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.150000006);
      flex-shrink: 0;
    }
    .group-39-peK {
      margin: 0rem 0rem 4.8rem 0.8rem;
      width: 32.8rem;
      height: 6.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .line-2-Xod {
      margin-bottom: 4.9rem;
      width: 100%;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.150000006);
      flex-shrink: 0;
    }
    .auto-group-msxj-Uis {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .all-rights-reserved-SQo {
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 88rem;
        font-size: 2.4rem;
      }
      .unsubscribe-NpF {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
